
/* Page Information lists */
#Information{
	.row{
		padding:40px 20px;
	}

	ul.InformationList{
		display:inline-block;
		clear:both;
		width: 100%;
		li{
			float: left;
			width: 20%;
			padding: 2% 0%;
			min-height: 50px;
			
			a{
				i{
						margin: 0 10px;
						font-size: 20px;
						color:red;
					}	
			}	
		}	
	}
	
	ul#Announcements{ li{ width:50%;}}
	ul#Workplace{li{ width:50%;}}

}


/* ********************************************************* */
/* Ipad/Tablets * ***************************** */
/* ********************************************************* */



/* iPad pro (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
	
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px) 
and (orientation : portrait) {
	#Information ul.InformationList{ li{width:33%;}}
	#Information ul#Announcements{ li{ width:50%;}}
	#Information ul#Workplace{li{ width:50%;}}
}

/* ********************************************************* */
/* Large Smart Phones * ***************************** */
/* ********************************************************* */


/* Catch ALl Phone Devices (portrait and landscape) ----------- */ 
@media only screen and (max-device-width: 736px) {		
	/* Styles */
	#Information ul.InformationList{ li{width:100%; }}
	#Information ul#Announcements{ li{ width:100%;}}
	#Information ul#Workplace{li{ width:100%; line-height:25px;}}
} 





@media only screen and (max-device-width: 736px)and 
	(orientation: portrait) {

}

/* iphone 6 plus (portrait and landscape) ----------- */
@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: portrait){



}

@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: landscape){

	
	
	
}


/* iphone 6 (portrait and landscape) ----------- */
@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: portrait)
	{

}


@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: landscape)
	{

}
/* ********************************************************* */
/* Smart Phones * ***************************** */
/* ********************************************************* */




/* Smartphones () ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-height : 568px)
 and (orientation: portrait){

}

@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 568px) and (orientation: landscape){

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */

	
	
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width  : 412px) and (orientation: portrait){


}
@media only screen 
and (max-device-width  : 412px) and (orientation: landscape){
	/* Styles */
	
}

@media only screen 
and (max-device-width  : 360px) and (orientation: portrait){

}