/* ********************************************************************************** */
/* Media Querys */
/* ********************************************************************************** */


/* Large to small */


/* ********************************************************* */
/* Desktop * ***************************** */
/* ********************************************************* */

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}



@media (min-width: 768px) and (max-device-width: 991px){
	/* Styles */

	}
	

/* ********************************************************* */
/* Ipad/Tablets * ***************************** */
/* ********************************************************* */



/* iPad pro (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
	/* Home page Podcast Items */
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
	/* Home page Podcast Items */
		
	/* End Home Page */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
/* Home page Podcast Items */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */	

}

/* ********************************************************* */
/* Large Smart Phones * ***************************** */
/* ********************************************************* */


/* Catch ALl Phone Devices (portrait and landscape) ----------- */ 
@media only screen and (max-device-width: 736px) {		
	/* Styles */
} 





@media only screen and (max-device-width: 736px)and 
	(orientation: portrait) {

	h1{
		margin: 0 0 30px 0 !important;
    	font-size: 25px;
    	line-height: 30px;
	}
}

/* iphone 6 plus (portrait and landscape) ----------- */
@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: portrait){
	/* Styles */


}

@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: landscape){
	/* Styles */
	
	
}


/* iphone 6 (portrait and landscape) ----------- */
@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: portrait)
	{
	/* Styles */

}


@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: landscape)
	{
	/* Styles */

}
/* ********************************************************* */
/* Smart Phones * ***************************** */
/* ********************************************************* */




/* Smartphones () ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-height : 568px)
 and (orientation: portrait){
	/* Styles */

}

@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 568px) and (orientation: landscape){
	/* Styles */

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */

	
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width  : 412px) and (orientation: portrait){
/* Styles */

}
@media only screen 
and (max-device-width  : 412px) and (orientation: landscape){
	/* Styles */

}

@media only screen 
and (max-device-width  : 360px) and (orientation: portrait){
	/* Styles */

}

@media only screen 
and (max-device-width  : 360px) and (orientation: landscape){
	
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}